<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Games</title>
</head>
<body>
<h1>Games</h1>
<ul style="list-style: none;">
    <li><a href="{% url 'current_poker_sessions' %}">Poker Sessions</a></li>
    <li><a href="{% url 'current_blackjack_sessions' %}">Blackjack Sessions</a></li>
    <li><a href="{% url 'current_craps_sessions' %}">Craps Sessions</a></li>
    <li><a href="{% url 'current_roulette_sessions' %}">Roulette Sessions</a></li>
    <li><a href="{% url 'current_slots_sessions' %}">Slots Sessions</a></li>
</ul>
</body>
</html>