<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Withdraw funds</title>
</head>
<body>
<h1>Withdraw funds from your account</h1>
<p>
    Current Balance: {{ user.current_balance }}
</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Withdraw</button>
</form>
</body>
</html>